* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

#canvas1 {
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 1920px;
    height: 1080px;
    transform: translate(-50%, -50%);
}

@media only screen and (max-device-width: 480px) {
  #canvas1 {
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 480px;
    height: 270px;
    transform: translate(-50%, -50%);
    }
    
    img {
    width: 480px;
    height: 270px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) 
  #canvas1 {
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 720px;
    height: 685px;
    transform: translate(-50%, -50%);
    }
   img {
    width: 720px;
    height: 685px;
    }
}
